@import "tailwindcss";
@source "../src";

@theme {
  --font-sans: "Inter", "system-ui", sans-serif;
  
  --color-brand: #16a34a;
  --color-background: #FCFBF8;
  --color-foreground: #0F172A;
  --color-muted: #64748b;
  --color-border: #e2e8f0;
  
  --radius-lg: 0.75rem;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }
}

@utility glass-card {
  @apply bg-white border border-slate-100 shadow-sm;
}
